@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TOC - Thinking Processes</h1>
    <p class="lead">Create, save and share diagrams using the Theory of Constraints</p>
    <br />
    <p><a class="btn btn-danger btn-lg" href="/Project/Index">Getting Started! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>Current Reality Tree</h2>        
        <p>Current Reality is somewhat misleading as it is focused onto the negative outcomes and what prevents achieving the Goal in order to solve problem and improve the situation. Besides, the Current Reality depicted in a CRT is a snapshot at a given moment</p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Conflict Resolution Diagram - Cloud</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Future Reality Tree</h2>
        <p></p>
    </div>
</div>
